# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/
env/

# -------------------------
# Environment
# -------------------------
.env

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Node
# -------------------------
node_modules/
.next/

# -------------------------
# Uploads
# -------------------------
uploads/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db